.nutrition-container {
	padding:16px;
	font-size: 12px;
	box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
	display: inline-block;
}
.nutrition-container * {
	font-size: 12px;
}
.nutrition-container>table {
	width: 100%;
}
.nutrition-container h2 {
	font-size: 26px;
	font-weight: bold;
	margin:0;
}
.nutrition-container h3 {
	font-size: 16px;
	font-weight: bold;
	margin:10px 0 5px 0;
}
.nutrition tbody>tr:last-child>* {
	border-bottom: 4px solid #333;
}
.nutrition tbody:last-child>tr:last-child>* {
	border-bottom: none;
}
.nutrition th, .nutrition td {
	border-bottom: 1px solid #CCC;
	padding: 2px;
}
.nutrition th {
	text-align: left;
	white-space: nowrap;
}
.nutrition tr.no-line>* {
	border-bottom: none;
}
.nutrition th>span {
	font-weight: normal;
}
.nutrition h3 {
	margin:0;
	font-size: 20px;
}
.nutrition td {
	text-align: right;
}
.nutrition td:first-child {
	text-align: left;
}
.nutrition tr[indent]>*:first-child {
	font-weight: normal;
	text-indent: 20px;
}
.nutrition .small {
	font-size: 11px;
	line-height: 1;
}