html {
	font-size: 10px;
	font-family: Arial, Verdana, sans-serif;
}
td {
	vertical-align: top;
}

#brands-list a {
	text-decoration: none;
	color:inherit;
}
#brands-list a:hover {
	text-decoration: underline;
}
#brands-list ul,
#brands-list li {
	list-style: none;
	/*padding: 0;*/
	font-size: 12px;
}
#brands-list ul {
	padding: 0 0 0 14px;
}
#brands-list>li {
	padding: 6px  0 6px 0;
}
#brands-list>li>span {
	font-weight: bold;
	font-size: 14px;
}
#brands-list>li>ul>li {
	padding: 4px  0 4px 0;
}