<ul id="brands-list">
<#list Brands as brand>
	<li><span>${brand.Name}</span>
		<ul>
		<#list brand.Products as product>
			<li><span><a href="/${product.ID}">${product.Name}</a></span></li>
		</#list>
		</ul>
	</li>
</#list>
</ul>