<#--

START: Expose product Properties

This exposes all the properties to the top level object
Beware: There is the change that these will clash with other values
Reason: The strucutre of product properties is very complicated to access

-->
<#list properties as prop>
	<#if prop.values??>
    	<@'<#assign ${prop.name} = prop.values[0]>'?interpret />
    </#if>
</#list>
<#--

END: Expose product Properties

-->

<div>
	<table cellpadding="10">
		<tbody>
			<tr>
				<td colspan="2" style="width:60%">
					<h1>${Name!"No Name"}</h1>
					<h3>${Description!""}</h3>
					<p>
						<#if alt_image??>
							<#assign alt_image_data = alt_image?eval>
							<#list alt_image_data as altimage>
								<a style="display: inline-block;" href="#image_${altimage?index}"><img style="max-width:100px; max-height:100px;" src="${altimage}"/></a>
							</#list>
						</#if>
					</p>
				</td>
				<td>
					<#include "product-nutrition.html">
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br>
<br>
<#if Image??>
<div style="width:160px; display: inline-block;"><div class="product-image"><img src="${Image}"/></div></div>
</#if>

<#if alt_image??>
<div>
	<#assign alt_image_data = alt_image?eval>
	<#list alt_image_data as altimage>
		<a name="image_${altimage?index}">
	    <div style="width:600px; display: inline-block;"><div class="product-image"><img src="${altimage}"/></div></div>
	</#list>
</div>
</#if>